<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>房源列表管理</h3>
        <h5>商城所有房源列表索引及管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>房源列表</h3>
        <h5></h5>
      </div>
	<form action="" id="search-form2" class="navbar-form form-inline" method="post" onSubmit="return false">
      <div class="sDiv" style="margin-right: 27%">
        <div class="sDiv2" style="">
          <!--<select name="cat_id" id="cat_id" class="select">-->
            <!--<option value="">所有分类</option>-->
            <!--<foreach name="categoryList" item="v" key="k" >-->
                <!--<option value="{$v['id']}"> {$v['name']}</option>-->
            <!--</foreach>-->
          <!--</select>-->
          <!--<select name="brand_id" id="brand_id" class="select">-->
            <!--<option value="">所有品牌</option>-->
                <!--<foreach name="brandList" item="v" key="k" >-->
                   <!--<option value="{$v['id']}">{$v['name']}</option>-->
                <!--</foreach>-->
          <!--</select>          -->
          <select name="is_on_sale" id="is_on_sale" class="select">
            <option value="">全部</option>                  
            <option value="1">上架</option>
            <option value="0">下架</option>
          </select>
            <!--<select name="intro" class="select">-->
                <!--<option value="0">全部</option>-->
                <!--<option value="is_new">新品</option>-->
                <!--<option value="is_recommend">推荐</option>-->
            <!--</select>     -->
          <input type="text" size="30" name="key_word" class="qsbox" placeholder="搜索词...">
          <input type="button" onClick="ajax_get_table('search-form2',1)" class="btn" value="搜索">
        </div>
      </div>
     </form>
    </div>
    <div class="hDiv">
      <div class="hDivBox">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="sign" axis="col6">
                <div style="width: 24px;"><i class="ico-check"></i></div>
              </th>
              <th align="left" abbr="article_title" axis="col6" class="">
                <div style="text-align: left; width:65px;" class="">操作</div>
              </th>
              <th align="left" abbr="article_title" axis="col6" class="">
                <div style="text-align: left; width:50px;" class="">id</div>
              </th>
              <th align="left" abbr="article_title" axis="col6" class="">
                <div style="text-align: left; width:50px;" class="" >id</div>
              </th>
              <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 200px;" class="">房源名称</div>
              </th>
              <th align="center" abbr="article_show" axis="col6" class="">
                <div style="text-align: center; width: 130px;" class="">房源规格</div>
              </th>
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 300px;" class="">房源位置</div>
              </th>
              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 50px;" class="">价格</div>
              </th>                  

              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 50px;" class="">上/下架</div>
              </th>

              <th align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 50px;" class="">排序</div>
              </th>                      
              <th style="width:100%" axis="col7">
                <div></div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>    
    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton">       
          <a href="{:U('Admin/house/add_edit')}">
          <div class="add" title="添加房源">
            <span><i class="fa fa-plus"></i>添加房源</span>
          </div>
          </a>          
          </div> 
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="bDiv" style="height: auto;">
     <!--ajax 返回 --> 
      <div id="ajax_return" cellpadding="0" cellspacing="0" border="0"></div>      
    </div>

     </div>
</div>
<script>
    $(document).ready(function(){	
	
		 // 表格行点击选中切换
		$('#ajax_return').on('click','table>tbody >tr',function(){
			 $(this).toggleClass('trSelected');	
			 			 						
			 var checked = $(this).hasClass('trSelected');	
			 $(this).find('input[type="checkbox"]').attr('checked',checked); 
			 //alert('aaa');
		});		 	
		// 刷选条件 鼠标 移动进去 移出 样式
		$(".hDivBox > table > thead > tr > th").mousemove(function(){
			$(this).addClass('thOver');
		}).mouseout(function(){
			$(this).removeClass('thOver');
		});				
	});
</script>
<script>
    $(document).ready(function () {
        ajax_get_table('search-form2', 1);

    });

    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form, page) {
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=House&a=Lists&p=" + page,//+tab,
            data: $('#' + form).serialize(),// 你的formid
            success: function (data) {
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
    }


    function del_goods(goods_id,obj){
        layer.confirm('确定要删除商品吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    // 确定
                    $.ajax({
                        type : 'post',
                        dataType:'json',
                        data:{id:goods_id},
                        url: "/index.php?m=admin&c=goods&a=delGoods",
                        success: function (v) {
                            layer.closeAll();
                            if (v.status == 1){
                                $(obj).parent().parent().parent().parent().parent().parent().remove();
                                layer.msg(v.msg, {icon: 1, time: 2000});
                            }
                            else{
                                layer.msg(v.msg, {icon: 2, time: 2000}); //alert(v.msg);
                            }
                        }
                    });
                }, function(index){
                    layer.close(index);
                }
        );
    }

</script>
</body>
</html>